<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Validation Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Enter a password: </h1>
    <form action="#" th:action="@{/validate}" th:object="${password}" method="post">
        <p>Password: <input type="text" th:field="*{content}" /></p>
         <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Password Error</p>
          <p th:text="${messages}" />
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>