<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Validation Service Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <p th:text="'You entered : ' + ${password.content}" />
     
     <p th:if="${messages.empty}">
            <td colspan="2"> Good job! Password passes all rules. </td>
        </p>
        <p th:each="message : ${messages}">
            <td><span th:text="${message}"> Title </span></td>
        </p>
        
     
    <p><a href="/validate">Submit another password</a></p>
</body>
</html>